<div class="text-center">
  <h1 class="mt-5">Eat Da Burger!</h1>
 <br>
  <img class="img" src="/assets/img/happyburger.png" alt="burger-pic">
 
  <br><br><br>
  <h2>Click on any burger's devour button to devour it!</h2>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Available Burgers</h2>
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        {{> burgers/burger-block devour=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2>Devoured Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        {{> burgers/burger-devoured devour=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <br><br>
  <div class="container">
    <div class="row">
      <h2>Add a Burger</h2>
    </div>
  </div>
  <form class="col-4 mb-5" id="add-burger">
    <div class="form-group">
      <label for="burger">Name of Burger:</label>
      <input type="text" class="form-control" id="burger-name" placeholder=""></input>
    </div>
    <button type="submit">Add Burger</button>
  </form>