<div class="text-center">

  <img class="img" src="/assets/img/happyburger.png" alt="burger-pic">
  <br><br>
  <h1>Eat Da Burger!</h1>
  <br>
  <h2>Click on any burger's devour button to devour it!</h2>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Available Burgers</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2>Devoured Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item list-group-item-secondary">{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <br><br>
  <div class="container">
    <div class="row">
      <h2>Add a Burger</h2>
    </div>
  </div>
  <form class="col-4">
    <div class="form-group">
      <label for="burger-name">Name of Burger:</label>
      <textarea class="form-control" id="burger-name" rows="2"></textarea>
    </div>
    <button id="add-burger" type="submit">Add Burger</button>
  </form>